{
  "extends": "airbnb-base/legacy",
  "parserOptions": {
    "ecmaVersion": 5,
    "sourceType": "script",
    "ecmaFeatures": {}
  },
  "rules": {
    "no-new": 0
  },
  "env": {
    "browser": true,
    "jquery": true
  },
  "globals": {
    "WOW": "readonly",
    "Swiper": "readonly"
  },
  "overrides": [],
  "ignorePatterns": ["gulpfile.js"]
}
