extends ../_layouts/default
block vars
  -path = ".."
  -pageID = "extras"
  -pageTitle = "sample title 03"
  -pageDescription = "sample description 03"
  -pageKeywords = ""
  -imgPC = path+"/img/extras/"
  -imgSP = path+"/img/extras/sp/"
  -imgCommonPC = path+"/img/common/"
  -imgCommonSP = path+"/img/common/sp/"
block container
