@charset "utf-8";

$viewport-width: 1260px;
$wrapper-width: 1240px;
$md-break: 1024px;
$sm-break: 767.98px;
$xs-break: 374px;
$font-sans: "Satoshi", sans-serif;
$font-serif: "IntegralCFRegular", serif;
$font-size-pc: 0.16rem;
$font-size-sp: 0.14rem;
$font-weight-pc: 400;
$font-weight-sp: 400;
$line-height: calc(20 / 14);
$color-default: #000;
$color-white: #fff;
$color-grey-primary: #f0f0f0;
$color-grey-secondary: #f2f0f1;

:root {
    --fontfamily-satoshi: "Satoshi", sans-serif;
    --fontfamily-IntegralCFRegular: "IntegralCFRegular", serif;
    --fontfamily-IntegralCFBold: "IntegralCFBold", serif;
    --color-default: #000;
    --color-white: #fff;
    --color-grey-primary: #f0f0f0;
    --color-grey-secondary: #f2f0f1;
}
