extends ../../_layouts/default
block vars
  -path = "../.."
  -pageID = "news"
  -pageTitle = "sample title 02"
  -pageDescription = "sample description 02"
  -pageKeywords = ""
  -imgPC = path+"/img/news/"
  -imgSP = path+"/img/news/sp/"
  -imgCommonPC = path+"/img/common/"
  -imgCommonSP = path+"/img/common/sp/"
block container
