:root {
  --fontfamily-satoshi: "Satoshi", sans-serif;
  --fontfamily-IntegralCFRegular: "IntegralCFRegular", serif;
  --fontfamily-IntegralCFBold: "IntegralCFBold", serif;
  --color-default: #000;
  --color-white: #fff;
  --color-grey-primary: #f0f0f0;
  --color-grey-secondary: #f2f0f1;
}

html,
body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1.5em;
  font-weight: bold;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1em;
}

ol,
ul {
  margin-bottom: 1.5em;
  padding-left: 1.5em;
}

table {
  width: 100%;
  margin-bottom: 1.5em;
  border-spacing: 0;
  border-collapse: collapse;
}

table th,
table td {
  padding: 0.5em;
  border: 1px solid #000;
}

table th {
  font-weight: bold;
}

caption,
table th,
table td {
  font-weight: normal;
  text-align: left;
  vertical-align: middle;
}

q,
blockquote {
  quotes: none;
}

q::before,
q::after,
blockquote::before,
blockquote::after {
  content: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body * {
  max-height: 99999em;
  word-break: break-word;
}

p {
  margin-bottom: 1.5em;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a img {
  border: none;
}

input,
label,
select,
button {
  line-height: inherit;
}

input,
label,
select,
button,
textarea {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font: inherit;
  word-break: normal;
  vertical-align: middle;
  white-space: normal;
  -webkit-appearance: none;
}

button {
  color: inherit;
}

textarea {
  overflow: auto;
  line-height: 1.5;
  white-space: pre-line;
  resize: none;
}

button:focus {
  outline: 0;
}

input:focus,
textarea:focus,
select:focus {
  outline: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
}

::-webkit-search-decoration {
  display: none;
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
  }
  html,
  body {
    width: 1600px;
    margin: 0;
  }
  @page {
    margin: 0;
    size: 11in 14.028in;
  }
  @page :left {
    margin: 0;
  }
  @page :right {
    margin: 0;
  }
  @page :first {
    margin-top: 0;
  }
}
html {
  opacity: 0.01;
  line-height: 1;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}
html.is-visible {
  opacity: 1;
}
@media print, (min-width: 768px) {
  html {
    font-size: 625%;
  }
}
@media only screen and (max-width: 767.98px) {
  html {
    min-height: 100vh;
    font-size: 25.641025641vw;
  }
}

body {
  color: #000;
  font-family: "Satoshi", sans-serif;
  line-height: 1.4285714286;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media print, (min-width: 768px) {
  body {
    font-size: 0.16rem;
    font-weight: 400;
  }
}
@media only screen and (max-width: 767.98px) {
  body {
    font-size: 0.14rem;
    font-weight: 400;
  }
  body::-webkit-scrollbar {
    width: 0;
    opacity: 0;
  }
}

.hidden {
  display: none;
}

.trans {
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  opacity: 1;
  text-decoration: none;
}
.trans:hover {
  opacity: 0.8;
}

.load {
  opacity: 0;
}
html.is-visible .load {
  opacity: 1;
}

.image-common {
  display: block;
  width: 100%;
}

.object-common {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

@media print, (min-width: 768px) {
  .container {
    min-width: 1260px;
  }
}
@media only screen and (max-width: 767.98px) {
  .container {
    min-width: 320px;
  }
}

@media print, (min-width: 768px) {
  .wrapper {
    width: calc(100% - 60px);
    max-width: 1240px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media only screen and (max-width: 767.98px) {
  .wrapper {
    padding-right: 0.2rem;
    padding-left: 0.2rem;
  }
}

@media print, (min-width: 768px) {
  .sm {
    /* stylelint-disable-next-line declaration-no-important */
    display: none !important;
  }
}

@media only screen and (max-width: 767.98px) {
  .md {
    /* stylelint-disable-next-line declaration-no-important */
    display: none !important;
  }
}

.header-common {
  position: relative;
}
.header-common .header-viewport {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
@media print, (min-width: 768px) {
  .header-common {
    padding: 24px 0;
  }
  .header-common .header-viewport {
    gap: 40px;
  }
}
@media only screen and (max-width: 767.98px) {
  .header-common {
    padding: 0.2277rem 0 0.2241rem;
  }
}

.promotion-header {
  background-color: var(--color-default);
  position: absolute;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility ease 0.3s, opacity ease 0.25s, -webkit-transform ease 0.2s;
  transition: visibility ease 0.3s, opacity ease 0.25s, -webkit-transform ease 0.2s;
  transition: visibility ease 0.3s, opacity ease 0.25s, transform ease 0.2s;
  transition: visibility ease 0.3s, opacity ease 0.25s, transform ease 0.2s, -webkit-transform ease 0.2s;
  left: 0;
  right: 0;
  top: 0;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}
header.is-ready .promotion-header {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.promotion-header .information-promotion {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.promotion-header .text-promotion {
  color: var(--color-white);
  font-family: var(--fontfamily-satoshi);
  font-weight: 400;
}
.promotion-header .text-promotion a {
  font-weight: 500;
  text-decoration: underline;
  -webkit-transition: -webkit-text-decoration ease 0.2s;
  transition: -webkit-text-decoration ease 0.2s;
  transition: text-decoration ease 0.2s;
  transition: text-decoration ease 0.2s, -webkit-text-decoration ease 0.2s;
  text-underline-offset: 0.05rem;
}
.promotion-header .text-promotion a:hover {
  text-decoration: none;
}
@media print, (min-width: 768px) {
  .promotion-header .information-promotion {
    min-height: 38px;
  }
  .promotion-header .text-promotion {
    font-size: 0.14rem;
  }
  .promotion-header .button-promotion {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 0.2rem;
    height: 0.2rem;
    cursor: pointer;
  }
}
@media only screen and (max-width: 767.98px) {
  .promotion-header .information-promotion {
    min-height: 0.34rem;
  }
  .promotion-header .text-promotion {
    font-size: 0.12rem;
  }
}

@media print, (min-width: 768px) {
  .logo-header {
    width: 12.9032258065%;
  }
}
@media only screen and (max-width: 767.98px) {
  .logo-header {
    width: 1.25rem;
  }
}

.list-header-menu .list-wrapper {
  margin: 0;
  padding: 0;
  list-style: none;
}
.list-header-menu .link-list {
  font-family: var(--fontfamily-satoshi);
  font-weight: 400;
  color: var(--color-default);
  text-transform: capitalize;
}
.list-header-menu .item-list.has-child > .link-list {
  position: relative;
  padding-right: 0.32rem;
}
.list-header-menu .item-list.has-child > .link-list::before {
  position: absolute;
  content: "";
  background: url("../../img/common/icn_arrow_down.svg") 50% 50%/cover;
  width: 0.16rem;
  height: 0.16rem;
  right: 0.12rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media print, (min-width: 768px) {
  .list-header-menu .list-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin: 0 -12px;
  }
  .list-header-menu .link-list {
    padding: 0 12px;
    font-size: 0.16rem;
  }
}
@media print, (min-width: 768px) {
  .form-header-search {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    max-width: 577px;
  }
  .form-header-search .form-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    min-height: 48px;
    border-radius: 100px;
    padding-left: 16px;
    background-color: var(--color-grey-primary);
  }
  .form-header-search .button-search {
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
    min-width: 24px;
  }
  .form-header-search .input-search {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
}
@media print, (min-width: 768px) {
  .button-search .icon-search {
    opacity: 0.4;
    cursor: pointer;
  }
}
@media print, (min-width: 768px) {
  .input-search .input-wrapper {
    text-indent: 12px;
    width: 100%;
    outline: none;
  }
  .input-search .input-wrapper::-webkit-input-placeholder {
    opacity: 0.4;
    color: #000;
  }
  .input-search .input-wrapper::-moz-placeholder {
    opacity: 0.4;
    color: #000;
  }
  .input-search .input-wrapper:-ms-input-placeholder {
    opacity: 0.4;
    color: #000;
  }
  .input-search .input-wrapper::-ms-input-placeholder {
    opacity: 0.4;
    color: #000;
  }
  .input-search .input-wrapper::placeholder {
    opacity: 0.4;
    color: #000;
  }
}
.list-header-action .list-wrapper {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media print, (min-width: 768px) {
  .list-header-action .list-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin: 0 -7px;
  }
  .list-header-action .item-list {
    padding: 0 7px;
  }
}
/*# sourceMappingURL=news.css.map */