@charset "utf-8";
@use "../base/base" as *;

.header-common {
  position: relative;
  .header-viewport {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  @include desktop {
    padding: 18px 0;
    .header-viewport {
      position: relative;
      gap: 40px;
    }
  }

  @include mobile {
    padding: 0.2277rem 0 0.2rem;
    .header-viewport {
      padding-left: 0.03rem;
    }
  }
}

.button-hambuger {
  @include mobile {
    position: relative;
    width: 0.24rem;
    height: 0.24rem;
    margin-right: 0.13rem;

    span {
      width: 75%;
      display: inline-block;
      position: absolute;
      left: 0;
      border-top: var(--color-default) 2px solid;
      border-radius: 2px;
      &:first-child {
        top: 0.05rem;
      }
      &:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
      }
      &:last-child {
        bottom: 0.05rem;
      }
    }
  }
}

.promotion-header {
  background-color: var(--color-default);
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition:
    visibility ease 0.3s,
    opacity ease 0.25s,
    transform ease 0.2s;
  left: 0;
  right: 0;
  top: 0;
  transform: translateY(-100%);

  header.is-ready & {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }

  .information-promotion {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .text-promotion {
    color: var(--color-white);
    font-family: var(--fontfamily-satoshi);
    font-weight: 400;

    a {
      font-weight: 500;
      text-decoration: underline;
      text-underline-offset: 0.035rem;
      transition: text-decoration ease 0.3s;
      &:hover {
        text-decoration: none;
      }
    }
  }

  @include desktop {
    .information-promotion {
      min-height: 38px;
    }
    .text-promotion {
      font-size: 0.14rem;
    }
    .button-promotion {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 0.2rem;
      height: 0.2rem;
      cursor: pointer;
    }
  }

  @include mobile {
    .information-promotion {
      min-height: 0.335rem;
    }
    .text-promotion {
      font-size: 0.12rem;
    }
  }
}

.logo-header {
  @include desktop {
    width: calc(160 / 1240 * 100%);
  }

  @include mobile {
    width: 1.25rem;
    margin-right: 0.97rem;
  }
}

.navigation-header {
  @include desktop {
  }
  @include mobile {
    display: none;
  }
}

.list-header-menu {
  & > .list-wrapper {
    @include reset-list;
  }
  .link-list {
    display: block;
    position: relative;
    font-family: var(--fontfamily-satoshi);
    font-weight: 400;
    color: var(--color-default);
    text-transform: capitalize;
  }

  .item-list.has-child {
    & > .link-list {
      padding-right: 0.32rem;
    }

    &:hover {
      .icon-link-down {
        transform: translateY(-50%) rotate(0deg);
      }
      .list-header-submenu {
        visibility: visible;
        opacity: 1;
        top: calc(100% - 2px);
      }
    }
  }

  .icon-link-down {
    position: absolute;
    right: 0.1rem;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
    transition: transform ease 0.3s;
  }

  @include desktop {
    & > .list-wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin: 0 -12px;
    }

    .link-list {
      padding: 20px 12px;
      font-size: 0.16rem;
    }
  }

  @include mobile {
  }
}

.list-header-submenu {
  .list-wrapper {
    @include reset-list;
  }

  .link-list {
    font-weight: 500;
  }

  @include desktop {
    opacity: 0;
    visibility: hidden;
    max-height: 315px;
    overflow: hidden auto;
    padding: 15px;
    background-color: var(--color-white);
    box-shadow: 0 0 5px #ccc;
    border-radius: 5px;
    position: absolute;
    width: 100%;
    left: 0;
    top: calc(100% - 10px);
    transition:
      top ease 0.3s,
      opacity ease 0.3s,
      visibility ease 0.3s;

    &::-webkit-scrollbar {
      width: 5px;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
      background-color: #fff;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      cursor: pointer;
      background-color: var(--color-grey-secondary);
      border-radius: 10px;
      transition: all ease 0.3s;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #ccc;
    }

    & > .list-wrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: flex-start;
      margin: 0 -10px;
    }

    .sub-list {
      padding: 10px;
      width: calc(100% / 5);
    }

    .link-list {
      display: inline-block;
      font-weight: 500;
      padding: 10px 5px;
    }
  }
  @include mobile {
  }
}

.list-header-subsubmenu {
  padding-left: 0.1rem;
  .list-wrapper {
    @include reset-list;
  }

  .link-list {
    font-weight: 400;
  }

  @include desktop {
  }

  @include mobile {
  }
}

.form-header-search {
  @include desktop {
    flex: 1;
    max-width: 577px;
    .form-wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      min-height: 48px;
      border-radius: 100px;
      padding-left: 16px;
      background-color: var(--color-grey-primary);
    }
    .button-search {
      flex: 0;
      min-width: 24px;
    }
    .input-search {
      flex: 1;
    }
  }
  @include mobile {
    margin-right: 0.12rem;
    .input-search {
      display: none;
    }
  }
}

.button-search {
  @include desktop {
    .icon-search {
      opacity: 0.4;
      cursor: pointer;
    }
  }
  @include mobile {
  }
}

.input-search {
  @include desktop {
    .input-wrapper {
      text-indent: 12px;
      width: 100%;
      outline: none;
      &::placeholder {
        opacity: 0.4;
        color: #000;
      }
    }
  }
  @include mobile {
  }
}

.list-header-action {
  .list-wrapper {
    @include reset-list;
  }
  .list-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 -0.07rem;
  }
  .item-list {
    padding: 0 0.07rem;
  }
  
  @include desktop {
  }

  @include mobile {
  }

}
